body {
  margin: 10px;
  padding: 10px;
}
/* navbar/  */
.right {
  flex-direction: row-reverse;
}
.collapse {
  justify-content: space-between;
}
.navbar {
  background-color: #fed100 !important;
  margin-top: 10px;
  border-radius: 10px;
}
.navbar-nav {
  align-items: center;
  margin-right: 20px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.phai {
  padding-left: 0 !important;
}
.fa-solid {
  padding-left: 10px;
}
.nav-link {
  color: black;
  transition: 0.5s ease;
}
.navbar-nav a:hover,
button:hover {
  transform: scale(1.2);
  text-decoration: underline;
}
.navbar-nav button {
  background: transparent;
  border: none;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.home {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.form-container {
  max-width: 320px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 43%;
  transform: scale(1.2);
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show1 .form-container {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.show1::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease-out;
  z-index: 1;
}
.show1::before body {
  pointer-events: none;
}
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  opacity: 1;
}
.form-container h2 {
  text-align: center;
  font-size: 22px;
  color: #0b0217;
}
.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 30px;
}
.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 2px solid #aaaa;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2 ease-out;
}
.input-box input:focus {
  border-color: #7d2ea8;
}
.input-box input:focus ~ i.email,
.input-box input:focus ~ i.password {
  color: #7d2ea8;
}
.input-box i {
  position: absolute;
  transform: translateY(50%);
  font-size: 20px;
}
.input-box i.email,
i.password {
  left: -8px;
  color: #707070;
  margin-right: 1px;
}
.input-box i.pw-hide {
  right: 0px;
  font-size: 18px;
  color: #707070;
}
.input-box input:focus ~ i.email {
  border-color: #7d2ea8;
}
.check {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 14px;
  padding-left: 0;
}
.check a {
  color: #7d2ea8;
  font-size: 12px;
}
.check a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  white-space: nowrap;
  column-gap: 8px;
}
.checkbox input {
  accent-color: #7d2ea8;
}
.button {
  background-color: #7d2ea8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
}
.login-signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
.login-signup a:hover {
  text-decoration: underline;
}
.creatacc {
  display: none;
}
.home.active .creatacc {
  display: block;
  transform: scale(1);
}
.home.active .form-container {
  opacity: 1;
  pointer-events: auto;
}
.home.active .login {
  display: none;
}
.home.active::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  pointer-events: none;
  transition: all 0.4s ease-out;
  z-index: 1;
}
/* carousel */
.carousel {
  margin-top: 30px;
}
.banner {
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-list-filter {
  display: flex;
}
.product-1:hover,
.product-2:hover,
.product-3:hover,
.product-4:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.5),
    0 2px 6px 2px rgba(60, 60, 60, 0.3);
}
.banner {
  width: 100%;
}
/* product-1/ */
.product-list-filter {
  display: flex;
  width: 100%;
}
.product-badge,
.box-price,
.product-promotion,
.product-rating,
.product-like {
  display: flex;
}
.product-4,
.product-3,
.product-2,
.product-1 {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  height: auto;
  margin: 6px;
  min-height: 202px;
  padding: 10px 10px 35px;
  position: relative;
  width: calc(100% / 4);
}
.icon-star {
  color: #f59e0b;
}
.product-like {
  flex-direction: row-reverse;
}
.fa-heart {
  color: red;
}
.button-style {
  border: none;
  background-color: white;
}
.box-price-info {
  display: flex;
}
.price-through {
  text-decoration: line-through;
  font-size: 14px;
  top: 4px;
  color: #707070;
}
.price-show {
  color: red;
  font-size: 16px;
}
.product-badge p {
  margin-right: 10px;
}
.product-container {
  color: black;
}
a {
  text-decoration: none;
}
.navigation {
  float: left;
}
.price-show {
  margin-right: 10px;
}
img {
  width: 100%;
}
.card {
  border: none;
}
.container {
  font-size: 10px;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img img {
  width: 10%;
}
.row {
  text-align: center;
}
.name {
  margin-left: 190px;
  text-align: left;
}
.left {
  margin-left: 190px;
  text-align: left;
}
footer {
  margin-top: 100px;
  background-color: #1d1d1f;
  width: 100%;
  padding: 10px;
}
.card-group {
  display: flex;
}
.card-body {
  width: calc(100% / 3);
  color: #708182;
}
.text {
  padding: 30px;
}
.text p:hover {
  text-decoration: underline;
}
.text h5 {
  margin-bottom: 30px;
  color: #ebebeb;
}
.add {
  position: fixed;
  float: right;
  display: flex;
}
